/* .container{
    display : flex;
    justify-content:  space-between;
    padding: 10px;
}

.item{
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    text-align: center;

}

@media (max-width: 599px) {
    .container{
        flex-direction: column;
    }
}
@media (min-width: 600px) {
    .container{
        flex-direction:row;
    }
} */